---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
    <style>
        h1 {
        color: purple;
        font-size: 4rem;
        }
    </style>
    <h1>My Astro Site</h1>
    <h2>My awesome blog subtitle</h2>
</BaseLayout>